/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

.container1{
    position: relative;
    max-width: 60%;
    width: 60%;
    margin-top: 20px;
    margin-left: 242px;
    border-radius: 6px;
    padding: 30px;
    /* margin: 0 0px; */
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.container1 header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.container1 header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 80px;
    border-radius: 8px;
    background-color: #5c5855;
}
.container1 form{
    position: relative;
    margin-top: 16px;
    min-height: 450px;
    background-color: #fff;
    overflow: hidden;
}
.container1 form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}


form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
.container1 form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 26px;
    text-decoration: underline;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}
.container1 form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 15px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    width:233px;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}
.btnuser{
display: flex;
gap: 30px;
 float: right;
}
.btnuser button{
    margin-top: -0px;
    height: 45px;
}
.btnuser input {
  height: 45px;
  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  background: rgb(155, 18, 18);
  cursor: pointer;

}
/* ------------------------------Media Query----------------------------- */

@media (max-width: 768px) {
    .container1 form{
        overflow-y: scroll;
    }
    .container1 form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
   
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
   
}
@media (max-width: 320px) {
    form .fields .input-field{
        width: 70% !important;
    }
    .container1 form .title{
        display: block;
        font-size: 15px !important;
    }
    
    .input-field input{
        display: block;
        width: 160px !important;
    }   
}
@media (max-width: 375px) {
    form .fields .input-field{
        width: 70% !important;
    }
    .container1 form .title{
        display: block;
        font-size: 15px !important;
    }
   
    .input-field input{
        display: block;
        width: 160px !important;
    }  
}
@media (max-width: 425px) {
    form .fields .input-field{
        width: 80%;
    }
    .container1 form .title{
        font-size: 20px;
    }
   
}

