.partner1{
    margin-left: 18%;
}

.partnerS2{
    display: flex;
    gap: 1rem;
    width: 60%;
 }
 .partnerS2 input{
     padding-left: 10px;
     padding-right: 10px;
     width: 8rem;
     border-radius: 3px;
     height: 40px;
     border: none;
 }
 .partnerS2_2 select{
    width: 7.5rem;
    height: 2.5rem;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
 }
 .alli1{
     width: 7.5rem;
     height: 2.5rem;
     border: none;
     color: #fff;
     background-color: rgb(157, 25, 25);
     font-weight: bold;
     border-radius: 5px;
 }