.contact1{
    margin-left: 18%;
}
.contact2 button{
    width: 160px;
    height: 40px;
    float: right;
    margin-right: 30px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    color: #fff;
    background: rgb(161, 35, 35);
}
.contact3{
    padding-top: 4rem;
    display: flex;
    gap: 20px;
}
.contact3_1 select{
    width: 120px;
    height: 2.5rem;
    padding-left: 10px;
    border: none;
    outline: none;
    border-radius: 3px;

}
.contact3_2 input{
    width: 100px;
    height: 2.5rem;
    padding-left: 10px;
    border: none;
    border-radius: 3px;
}
.contact3 label{
    color: #9a9999;
    font-size: 14px;
    font-weight: 600;
}
.contact3_3 select{
    width: 100px;
    height: 2.5rem;
    padding-left: 10px;
    border: none;
    outline: none;
    border-radius: 3px;
}
.contact3_4 button{
    width: 110px;
    height: 2.5rem;
    background-color: brown;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.contact3_5 button{
    width: 140px;
    height: 2.5rem;
    /* margin-left: 3rem; */
    background-color: brown;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.contact3_6 button{
    width: 120px;
    height: 2.5rem;
    background-color: brown;
    color: #fff;
    border: none;
    border-radius: 5px;
}