.group1{
    margin-left: 18%;
}
.group1 button{
    width: 160px;
    height: 40px;
    float: right;
    margin-right: 30px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    color: #fff;
    background: rgb(161, 35, 35);
}
.group2{
    margin-top: 70px;
    margin-left: 18%;
}