.log{
    margin-left: 18%;
}
.log1{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.log1_left p{
    width: 90%;
}
.log1_right{
    margin-top: 30px;
    width: 320px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 15px;
    /* border: 2px solid red; */
}
.log1_right h1{
   margin-left: 70px;
}
.log1_right1 input{
    margin: 10px;
    margin-left: -0px;
    padding-left: 5px;
    width: 270px;
    height: 60px;
}
form p{
    float: right;
    margin-right: 20px;
}
form h6{
    margin-top: 40px;
}
form button{
    margin-top: 30px;
    border: 1.5px solid rgb(144, 22, 22);
    border-radius: 3px;
    margin-left: 75px;
    width: 100px;
    height: 40px;
    font-size: 1rem;
    color: #fff;
    background-color: brown;
}